body {
  margin: 0;
  padding: 0;
}

section {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.div_background {
  background-image: url("images/poste.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.flex_div {
  display: flex;
}

.slider {
  text-align: justify;
}

.content {
  padding: 25px;
  /* background: linear-gradient(0.25turn, white, #E8E8E8); */
  /*background-image: url("images/diferpan.jpeg");*/
  background-color: #EAE6E5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

header {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}

.title {
  margin-bottom: 0;
  font-size: 5em;
  text-shadow: 6px 0px black;
  letter-spacing: 7px;
}

.subtitle {
  color: #fff;
  margin-top: 0;
  font-size: 2.5em;
  text-shadow: 0 0 5px orange;
}

.div_slider {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #F2DFBE;
  font-size: 18px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
}

.ul_contact {
  list-style-type: none;
}

.ul_contact li {
  margin-bottom: 1em;
}
