body {
  margin: 0;
  padding: 0;
  background-color: #EAE6E5;
}

section {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  border-bottom: 3px dotted gray;
}

.div_background {
  background-image: url("images/0.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  display: none;
}

.flex-div {
  display: flex;
  flex-direction: column;
}

.slider {
  text-align: justify;
  font-size: 16px;
}

.styled_h3 {
  font-size: 18px; 
}

.content {
  padding: 0px;
}

header {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}

.title {
  margin-bottom: 0;
  font-size: 3em;
  text-shadow: 4px 0px black;
  letter-spacing: 7px;
}

.subtitle {
  color: #fff;
  margin-top: 0;
  font-size: 1.5em;
  text-shadow: 0 0 5px orange;
}

.div_slider {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #F2DFBE;
  font-size: 16px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  flex-direction: column;
}

.ul_contact {
  list-style-type: none;
}

.ul_contact li {
  margin-bottom: .3em;
}

.center {
  text-align: center;
}

.margin-top-2 {
  margin-top: 2em;
}

.gallery img {
  margin-bottom: 10px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .title {
    font-size: 4em;
  }

  .subtitle {
    font-size: 2em;
  }

  .flex-div {
    flex-direction: row;
  }

  .styled_h3 {
    font-size: 18px;
  }

  .div_slider {
    font-size: 16px;
  }

  .gallery_link {
    display: none;
  }

  #gallery {
    display: none;
  }

  .div_background {
     display: block;
  }

  .contact {
    margin-top: 2em;
    flex-direction: row-reverse;
  }

  .div_slider{
    width: 50%;
  }

  iframe {
    width: 400px;
    height: 200px;
  }

  section {
    border: none;
  }
}

@media (min-width: 1400px) {
  .title {
    font-size: 5em;
  }

  .subtitle {
    font-size: 2.5em;
  }

  .styled_h3 {
    font-size: 22px;
  }

  .div_slider {
    font-size: 18px;
  }

  iframe {
    width: 520px;
    height: 400px;
  }
}